# config file for auroracam
[auroracam]
IPADDRESS=CAMERAIP
MACADDRESS=CAMERAMAC
ROUTERADDRESS=ROUTERIP
LAT=MYLAT
LON=MYLON
ALT=MYALT
LOGDIR=~/data/logs
DATADIR=~/data/auroracam
NIGHTGAIN=70
RGBADJ=1.0,1.0,1.0
DAYTIMELAPSE=1
DAYSTOKEEP=3
CAMID=UK9999

[uploads]
S3UPLOADLOC=
IDSERVER=
IDKEY=
FTPUPLOADLOC=
FTPSERVER=
FTPUSER=
FTPKEY=
FREQ=30 # how often to upload, in seconds

[youtube]
DOUPLOAD=0

[archive]
ARCHSERVER=
ARCHFLDR=
ARCHUSER=
ARCHKEY=

# mqtt config - leave blank to disable
[mqtt]
BROKER=
TOPIC=
USERNAME=
PASSWORD=
PORT=1883
FREQ=300 # how often to send, in seconds

